@charset "utf-8";
body{
    background-image: url(../image/18093.jpg);
    font-size: 14px;
}

#registerForm{
    width: 380px;
    height: 450px;
    background-color: beige;
    margin: 200px auto;
    padding-top: 30px;
    border: 1px solid #ccc;
    border-radius: 1em;
}
#registerForm p{
    text-indent: 36px;
}
#userName{
    width: 300px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 2px center;
    text-indent: 24px;
}
#trueName{
    width: 300px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 2px center;
    text-indent: 24px;
}
#email{
    width: 300px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 2px center;
    text-indent: 24px;
}
#password{
    width: 300px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 2px center;
    text-indent: 24px;
}
#userName{
    width: 300px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 2px center;
    text-indent: 24px;
}
#mpassword{
    width: 300px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 2px center;
    text-indent: 24px;
}
#btregoster{
    width: 300px;
    height: 30px;
    background-color: cadetblue;
    color: #fff;
    font-weight: bold;
     border-radius: 1em;
}
#selectProvincial{
	 width: 300px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 2px center;
    text-indent: 24px;
}
#selectMarket{
	 width: 300px;
    height: 30px;
    background-repeat: no-repeat;
    background-position: 2px center;
    text-indent: 24px;
}

